<h4>Payment Info</h4>
<% if request.status == :done %>
	Payment Sent!
<% else %>
	<%= form_tag request do |f| %>
		<%= text_field_tag "ammount", "", placeholder: "Amount", class: "span2" %>
		<%= text_field_tag "cc_num", "", placeholder: "CC#", class: "span3" %>
		<%= text_field_tag "expiration", "", placeholder: "Exp", class: "span1" %>
		<%= check_box_tag "address", "" %> Same billing address as above
	<% end %>
<% end %>