<% if !@requests.any? %>
	<div class="row">
		<span class="offset2 span8 text-center">
			<p>Looks like there are no requests yet</p>
		</span>
	</div>
<% end %>
<% @requests.each do |request| %>
	<div class="row">
		<span class="post offset2 span8">
			<%= image_tag("no_pic.jpg") %>
		  <% if request.user_id == current_user.id %>
		  	<%= link_to "Details", request_path(request) %>
		  <% end %>
			<%= request.user.full_name %> Searched for <%= request.description %><br />
			<%= request.created_at %>
			<% if request.user_id == current_user.id %>
			<%= render 'requests/request_actions', request: request %>
			<% end %>
		</span>
	</div>
<% end %>