<br /><br />
<h4>Rate Your Provider:</h4>
<div class="rating">
  <% if request.status == :working && request.rating.nil? %>
    <%= form_for Rating.new, remote: true do |f| %>
      <%= f.text_area :description, placeholder: "Review" %>
      <%= f.hidden_field :request_id, value: request.id %>
      <%= f.hidden_field :provider_id, value: request.last_contacted_provider.id %><br />
      <%= f.submit "Save Rating", class: "btn btn-info" %>
    <% end %>
  <% else %>
    <small>
      <% unless request.rating.nil? %>
        <%= render request.rating %>
      <% else %>
        n/a
      <% end %>
    </small>
  <% end %>
</div>