<div class="row">
	<span class="span4">
		<h4>Request Information</h4>
		<p>Status: <span class="<%= status_text_class(@request) %>"><%= @request.status %></span></p>
		<p>Phone: <%= @request.phone %></p>
		Actions:<br />

		<h4>Live Update</h4>
		<div id="firehose">
			No updates yet
		</div>
		<%= render 'requests/request_actions', request: @request %>
	</span>
	<% if @request.status == :invoicing %>
		<%= render 'requests/request_payment_form', request: @request %>
	<% else %>
		<%= render 'requests/request_info_form', request: @request %>
	<% end %>
</div>