<div class="row">
	<span class="offset2 span8">
		<%= render @request %>
	</span>
</div>
<div class="row">
	<% if @request.user_id == current_user.id %>
		<span class="offset2 span3">
			<h4>Request Information</h4>
			<p>Status: <b><span id="status" class="<%= status_text_class(@request) %>"><%= @request.status %></span></b></p>
			<p>Phone: <%= @request.phone %></p>
		</span>
		<span id="request_forms" class="span5">
			<%= render 'request_forms' %>
		</span>
	<% else %>
		<%= render @recommendation %>
	<% end %>
	<%= render 'request_timeline', request: @request %>
</div>